<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.LoginTest"/>
      <class name="test.AddCustomerTest"/>
      <class name="util.BrowserFactory"/>
      <class name="test.ListCustomerTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
